.part2{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #ce1616;
}
.tit h1{
    -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 1;
  font-weight: 400;
  font-family: 'Lato';
  color: #ffbc42;
  font-size: 142px;
  letter-spacing: 5px;
   
}
